body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: antiquewhite; */
}
header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    width: 100%;
    background-color: white;
}
header a{
    text-decoration: none;
    color: gray;
}
header button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}
.block1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    background-color: #c7c7c9;
}
.block1 img{
    margin: 0 30px 0 50px;
    width: 350px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.block1 h2{
    font-size: 56px;
    margin: 50px;
}
.block1 p{
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: left;
    color: gray;
    font-size: 24px;
    margin: 50px;
}
.block1 button{
    background-color: #fff;
    padding: 10px 34px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("https://images.immediate.co.uk/production/volatile/sites/21/2019/03/1435226215908-kxxs31du2h3c-8ff11df.jpg?quality=90&resize=960%2C540");
    height: 830px;
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 50px 0 50px 0;
}
.block2__info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    position: relative;
    background-color: #fff;
}
.block2__info h3{
    font-size: 25px;
    text-transform: uppercase;
}
.block2__info p{
    width: 300px;
    font-size: 20px;
}
.block2__info button{
    background-color: black;
    color: #fff;
    padding: 10px 34px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.block3{
    margin: 0 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.block3 h2{
    font-size: 40px;
}
.block3 p{
    font-weight: lighter;
    width: 400px;
    font-size: 20px;
}
.block3 button{
    background-color: black;
    color: #fff;
    padding: 10px 34px;
    margin: 10px 50px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.block4{
    min-height: 700px;
    width: 100%;
    display: grid;
    background-color: #dfdfdf;
    color: black;

}
.block{
    z-index: 99;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    margin: 50px 300px;
}
.block p{
    width: 150px;
    margin: 143px 100px 30px;
}
.block .line{
    height: 3px;
    transform-origin: right center;
    margin: 0 auto 0 0;
    background-color: black;

}
.block img{
    z-index: 99;
}
.block button{
    background-color: black;
    color: #fff;
    padding: 10px 34px;
    margin: 20px 100px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.white-block{
    position: absolute;
    left: 560px;
    width: 600px;
    height: 400px;
    background-color: #fff;
    z-index: 0;
}
.block4 img{
    width: 450px;
    height: 300px;
}

.block4 p{
    width: 300px;
}
.block span{
    position: absolute;
    right: 38%;
    font-size: 30px;
    font-weight: 700;
}
.block4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block4-2 h3{
    font-size: 40px;
}
.block4-2 p{
    margin: 0 0 20px 0;
    color: gray;
    font-weight: 200;
}

.block4-2 img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 35px;
    
}


@media screen and (max-width : 440px) {
    .body {
        overflow-x: hidden;
        font-size:30px;
    }
    header{
        width: 100%;
    }
    .block1{
        
        display: flex;
        flex-direction: column;
    }
    .block1 img{
        width: 290px;
        height: auto;
    }
    .block1 h2{
        font-size: 30px;
    }
    .block1 p{
        font-size: 20px;
    }
    .block2{
        width: 400px;
    }
    .block2__info{
        width: 400px;
        height: 200px;
    }
    .block2__info h3{
       font-size: 20px;
    }
    .block2__info p{
        font-size: 15px;
        width: 200px;
    }
   
    .block3{
        width: 400px;
       
    }
    .block3 h2{
        font-size: 20px;
    }
    .block3 p{
        font-size: 15px;
        width: 300px;
    }

    .block{
        display: flex;
        flex-direction: column;
    }
    
    
}

@media screen and (max-width: 250px) {
    header{
        width: 400px;
    }
    body{
        width: auto;
    }
    .block1{
        display: flex;
        width: 400px;
    }
    .block1 p{
        width: 200px;
    }
    .block{
        display: flex;
        flex-direction: column;
    }
}
    @media screen and (max-width : 240px) {
        .body {
            overflow-x: hidden;
            font-size:30px;
            width: 400px;
        }
        header{
            width: 100%;
        }
        .block1{
            width: 200px;
            display: flex;
            flex-direction: column;
        }
        .block1 img{
            width: 100px;
            height: auto;
        }
        .block1 h2{
            font-size: 30px;
        }
        .block1 p{
            font-size: 20px;
        }
        .block2{
            width: 250px;
        }
        .block2__info{
            width: 200px;
            height: 200px;
        }
        .block2__info h3{
           font-size: 20px;
        }
        .block2__info p{
            font-size: 15px;
            width: 200px;
        }
        .block2__info button{
            padding: 3px 51px;
            margin: 5px 50px 20px;
        }
        .block3{
            width: 380px;
        }
        .block{
            display: flex;
            flex-direction: column;
        }
        
}
@media screen and (max-width : 700px)  {
    .block1{
        max-width: 607px;
        display: flex;
        flex-direction: column;
    }
    .block1 p{
        font-size: 20px;
    }
    .block4{
        max-width: 607px;
        display: flex;
        flex-direction: column;
   
    }
    .block{
        display: flex;
        flex-direction: column;
    }
}

