body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: antiquewhite; */
}
header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    width: 100%;
    background-color: white;
}
header a{
    text-decoration: none;
    color: gray;
}
header button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}
.block1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    background-color: #c7c7c9;
}
.block1 img{
    margin: 0 30px 0 50px;
    width: 350px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.block1 h2{
    font-size: 56px;
    margin: 50px;
}
.block1 p{
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: left;
    color: gray;
    font-size: 24px;
    margin: 50px;
}
.block1 button{
    background-color: #fff;
    padding: 10px 34px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("https://images.immediate.co.uk/production/volatile/sites/21/2019/03/1435226215908-kxxs31du2h3c-8ff11df.jpg?quality=90&resize=960%2C540");
    height: 830px;
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 50px 0 50px 0;
}
.block2__info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    position: relative;
    background-color: #fff;
}
.block2__info h3{
    font-size: 25px;
    text-transform: uppercase;
}
.block2__info p{
    width: 300px;
    font-size: 20px;
}
.block2__info button{
    background-color: black;
    color: #fff;
    padding: 10px 34px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.block3{
    margin: 0 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.block3 h2{
    font-size: 40px;
}
.block3 p{
    font-weight: lighter;
    width: 400px;
    font-size: 20px;
}
.block3 button{
    background-color: black;
    color: #fff;
    padding: 10px 34px;
    margin: 10px 50px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.block4{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    background-color: black;
    color: white;

}

.block4 img{
    width: 450px;
    height: 300px;
}

.block4-right{
    grid-column: 2;
}
.block4__left{
    grid-column: 1;
    position: relative;
    top: 100px;
    left: 400px;
    font-size: 20px;
}
.block4 p{
    width: 300px;
}
.block4 span{
    position: relative;
    top: 400px;
    font-weight: 700;
    font-size: 40px;
}

@media screen and (max-width : 600px) {
    body{
        overflow-x: hidden;
    }
    header{
        width: 600px;
    }
    .block1{
        width: 600px;
        display: flex;
        flex-direction: column;
    }
    .block2{
        width: 600px;
    }
    .block3{
        width: 600px;
    }
}


@media screen and (max-width : 440px) {
    .body {
        overflow-x: hidden;
        font-size:30px;
        width: 460px;
    }
    header{
        width: 460px;
    }
    .block1{
        width: 460px;
        display: flex;
        flex-direction: column;
    }
    .block1 img{
        width: 400px;
        height: auto;
    }
    .block1 h2{
        font-size: 30px;
    }
    .block1 p{
        font-size: 20px;
    }
    .block2{
        width: 460px;
    }
    .block2__info{
        width: 200px;
        height: 200px;
    }
    .block2__info h3{
       font-size: 20px;
    }
    .block2__info p{
        font-size: 15px;
        width: 200px;
    }
    .block2__info button{
        padding: 3px 51px;
        margin: 5px 50px 20px;
    }
    .block3{
        width: 460px;
    }
    .block4{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        background-color: black;
        color: white;
    
    }
    
    .block4 img{
        width: 400px;
        height: 200px;
    }
    
    .block4-right{
        grid-column: 2;
    }
    .block4__left{
        grid-column: 1;
        position: relative;
        top: 50px;
        left: 200px;
        font-size: 15px;
    }
    .block4 p{
        width: 300px;
    }
    .block4 span{
        position: relative;
        top: 200px;
        font-weight: 700;
        font-size: 40px;
    }
}


    @media screen and (max-width : 240px) {
        .body {
            overflow-x: hidden;
            font-size:30px;
            width: 400px;
        }
        header{
            width: 400px;
        }
        .block1{
            width: 250px;
            display: flex;
            flex-direction: column;
        }
        .block1 img{
            width: 250px;
            height: auto;
        }
        .block1 h2{
            font-size: 30px;
        }
        .block1 p{
            font-size: 20px;
        }
        .block2{
            width: 250px;
        }
        .block2__info{
            width: 200px;
            height: 200px;
        }
        .block2__info h3{
           font-size: 20px;
        }
        .block2__info p{
            font-size: 15px;
            width: 200px;
        }
        .block2__info button{
            padding: 3px 51px;
            margin: 5px 50px 20px;
        }
        .block3{
            width: 380px;
        }
        
}

